<!--The content below is only a placeholder and can be replaced.-->
<div>
 <table><tr><td><img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="></td>
  <td><h1>  Welcome to {{ title }}! </h1></td>
</tr></table> 
</div>

<form #f=ngForm (ngSubmit)="submit(f)">
<div class="form-group">
  <label required for="firstname">FirstName</label>
  <input required minlength= "4" pattern="[A-Za-z]+[0-9]{1,}$" ngModel name="firstname"  #firstname=ngModel (change)="log(firstname)" id="firstname" type="text"  class="form-control"> 
  <div class="alert alert-danger" *ngIf="!firstname.valid && firstname.touched">
    <div *ngIf="firstname.errors.required">Please enter your FirstName</div>
    <div *ngIf="firstname.errors.minlength">Please enter min 4 characters</div>
    <div *ngIf="firstname.errors.pattern">Pattern doesnt match. Please enter letters followed by a number atleast</div>
  </div>
</div>
<div name="Details" ngModelGroup="details" #details=ngModelGroup>
    <div class="form-group">
        <label for="address">Address</label>
        <input required ngModel name="address" #address=ngModel id="address" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="contact">Mobile Number</label>
        <input required ngModel name="contact" #contact=ngModel id="contact" type="text" class="form-control">
    </div>
    <div class="alert alert-danger" *ngIf="!details.valid && details.touched">
      Please enter yoru address and contact number
    </div>
</div>
<div class="form-group">
    <label for="comment">Comment</label>
    <input ngModel name="comment" #comment=ngModel id="comment" type="text" class="form-control">
</div>
<button class="btn btn-primary">Submit</button>
</form>

<router-outlet></router-outlet>
